@use 'fn';
@use 'vars';

@mixin reset() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px) {
  font-size: fn.px2rem($fontSize);
  line-height: fn.px2rem($fontSize + 10px);
  color: vars.$fgColorPrimary;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: vars.$fgColorSecondary;
}

