// Colors
$bgColor: #040714;
$bgColorButton: #6421ff;
$bgColorButtonSecondary: #0063e5;
$bgColorButtonDark: #000;
$bgColorFaq: #13151d;
$fgColorPrimary: silver;
$fgColorSecondary: #f9f9f9;
$baseWhite: #fff;

// Brakpoints
$bpMobile: 767px;
$bpTablet: 1023px;
