@use 'config/fn';
@use 'config/vars';

.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: fn.px2rem(24px);
    }

    &__questions {
        &__item {
            background-color: vars.$bgColorFaq;
            margin-bottom: fn.px2rem(16px);

            &__question {
                color: vars.$baseWhite;
                font-size: fn.px2rem(20px);
                padding: fn.px2rem(24px);
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: fn.px2rem(24px);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: fn.px2rem(40px);
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 fn.px2rem(24px);
                transition: height, ease 0.5s;

                &__items {
                    list-style-type: disc;
                    margin-top: fn.px2rem(16px);
                    padding-inline-start: fn.px2rem(40px);

                    &__item {
                        margin-bottom: fn.px2rem(16px);

                        &::mark {
                        }
                    }
                }
            }

            &--is-open {
                .faq__questions__item__question {
                    &::after {
                        content: '–';
                    }
                }

                .faq__questions__item__answer {
                    padding: 0 fn.px2rem(24px) 24px;
                    height: auto;
                }
            }
        }
    }
}
