@use 'config/fn';
@use 'config/mxn';
@use 'config/vars';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../../dist/assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../../dist/assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    @include mxn.reset;
}

body {
    background-color: vars.$bgColor;
    font-family: Avenir, sans-serif;
}

.text--big {
    @include mxn.text(18px);
}

.text {
    @include mxn.text;
}

.text--small {
    @include mxn.text(12px);
}

.link-text {
    @include mxn.text(18px);
    color: vars.$fgColorSecondary;
    text-decoration: underline;
}

.title--big {
    @include mxn.title(44px);
}

.title {
    @include mxn.title;
}

.title--small {
    @include mxn.title(28px);
}

.button {
    display: block;
    width: 100%;
    height: fn.px2rem(60px);
    font-size: fn.px2rem(18px);
    color: vars.$fgColorSecondary;
    background-color: vars.$bgColorButton;
    text-transform: uppercase;
    border-radius: fn.px2rem(4px);
    border: none;
    margin-top: 2vw;
    margin-bottom: 8px;
    cursor: pointer;
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%;
    }

    &__text-container {
        padding: 0 2vw;

        h2 {
            margin-bottom: fn.px2rem(24px);
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text-container {
            width: calc(50% - 5.6vw);
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
