@use 'config/fn';
@use 'config/mxn';
@use 'config/vars';
@use 'header';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../../dist/assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../../dist/assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    @include mxn.reset;
    list-style: none;
}

body {
    background-color: vars.$bgColor;
    font-family: Avenir, sans-serif;
}

.text--big {
    @include mxn.text(18px);

    @media screen and (max-width: vars.$bpMobile) {
        @include mxn.text(15px);
    }
}

.text {
    @include mxn.text;

    @media screen and (max-width: vars.$bpMobile) {
        @include mxn.text(14px);
    }
}

.text--small {
    @include mxn.text(12px);

    @media screen and (max-width: vars.$bpMobile) {
        @include mxn.text(11px);
    }
}

.link-text {
    @include mxn.text(18px);
    color: vars.$fgColorSecondary;
    text-decoration: underline;
}

.title--big {
    @include mxn.title(44px);

    @media screen and (max-width: vars.$bpMobile) {
        @include mxn.title(26px);
    }
}

.title {
    @include mxn.title;

    @media screen and (max-width: vars.$bpMobile) {
        @include mxn.title(24px);
    }
}

.title--small {
    @include mxn.title(28px);

    @media screen and (max-width: vars.$bpMobile) {
        @include mxn.title(22px);
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fn.px2rem(60px);
    font-size: fn.px2rem(18px);
    color: vars.$fgColorSecondary;
    background-color: vars.$bgColorButton;
    text-transform: uppercase;
    border-radius: fn.px2rem(4px);
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: fn.px2rem(8px) fn.px2rem(14px);
    letter-spacing: 1px;
    border: solid 1px vars.$bgColorButton;

    &:hover {
        background-color: lighten(vars.$bgColorButton, 3%);
    }

    &--secondary {
        background-color: vars.$bgColorButtonSecondary;
        border: vars.$bgColorButtonSecondary;

        &:hover {
            background-color: lighten(vars.$bgColorButtonSecondary, 3%);
        }
    }

    &--dark {
        background-color: rgba(vars.$bgColorButtonDark, 0.8);
        border: solid 1px vars.$fgColorSecondary;

        &:hover {
            background-color: rgba(vars.$fgColorSecondary, 0.8);
            color: vars.$bgColor;
        }
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media screen and (max-width: vars.$bpMobile) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text-container {
        padding: 0 2vw;

        h2 {
            margin-bottom: fn.px2rem(24px);
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text-container {
            width: calc(50% - 5.6vw);
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: vars.$bpMobile) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}
